n8n_manual_company_research.json
{
  "name": "Manual Company Research",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "company_name",
              "value": "Google"
            }
          ]
        },
        "options": {}
      },
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://jobspy-api-jlyc.onrender.com/company-research",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "company_name",
              "value": "={{ $json.company_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "company-research-api",
      "name": "Company Research API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "company_name",
              "value": "={{ $json.company_name }}"
            },
            {
              "name": "website",
              "value": "={{ $json.website }}"
            },
            {
              "name": "hr_emails",
              "value": "={{ $json.hr_emails.join(', ') }}"
            },
            {
              "name": "general_emails",
              "value": "={{ $json.general_emails.join(', ') }}"
            },
            {
              "name": "linkedin",
              "value": "={{ $json.social_media.linkedin }}"
            },
            {
              "name": "industry",
              "value": "={{ $json.company_info.industry }}"
            },
            {
              "name": "company_size",
              "value": "={{ $json.company_info.size }}"
            },
            {
              "name": "location",
              "value": "={{ $json.company_info.location }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "item",
        "values": {
          "string": [
            {
              "name": "Company",
              "value": "={{ $json.company_name }}"
            },
            {
              "name": "Website",
              "value": "={{ $json.website }}"
            },
            {
              "name": "HR Emails",
              "value": "={{ $json.hr_emails }}"
            },
            {
              "name": "Industry",
              "value": "={{ $json.industry }}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-to-notion",
      "name": "Save to Notion",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "send",
        "subject": "Company Research Results: {{ $json.company_name }}",
        "message": "Company: {{ $json.company_name }}\nWebsite: {{ $json.website }}\nHR Emails: {{ $json.hr_emails }}\nIndustry: {{ $json.industry }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Company research failed"
            },
            {
              "name": "details",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-handling",
      "name": "Error Handling",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Company Research API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Research API": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Save to Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Notion": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
