n8n_google_sheets_trigger.json
{
  "name": "Google Sheets Company Research",
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "options": {
          "range": "A:A"
        }
      },
      "id": "google-sheets-trigger",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.Company }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-company-name",
      "name": "Check Company Name",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "https://jobspy-api-jlyc.onrender.com/company-research",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "company_name",
              "value": "={{ $json.Company }}"
            }
          ]
        },
        "options": {}
      },
      "id": "company-research-api",
      "name": "Company Research API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.message }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-api-success",
      "name": "Check API Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Company",
              "value": "={{ $json.company_name }}"
            },
            {
              "name": "Website",
              "value": "={{ $json.website }}"
            },
            {
              "name": "HR Emails",
              "value": "={{ $json.hr_emails.join(', ') }}"
            },
            {
              "name": "General Emails",
              "value": "={{ $json.general_emails.join(', ') }}"
            },
            {
              "name": "LinkedIn",
              "value": "={{ $json.social_media.linkedin }}"
            },
            {
              "name": "Industry",
              "value": "={{ $json.company_info.industry }}"
            },
            {
              "name": "Company Size",
              "value": "={{ $json.company_info.size }}"
            },
            {
              "name": "Location",
              "value": "={{ $json.company_info.location }}"
            },
            {
              "name": "Research Date",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-results",
      "name": "Format Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Research Results",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company": "={{ $json.Company }}",
            "Website": "={{ $json.Website }}",
            "HR Emails": "={{ $json['HR Emails'] }}",
            "General Emails": "={{ $json['General Emails'] }}",
            "LinkedIn": "={{ $json.LinkedIn }}",
            "Industry": "={{ $json.Industry }}",
            "Company Size": "={{ $json['Company Size'] }}",
            "Location": "={{ $json.Location }}",
            "Research Date": "={{ $json['Research Date'] }}"
          }
        },
        "options": {}
      },
      "id": "update-google-sheets",
      "name": "Update Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "error",
              "value": "Company research failed"
            },
            {
              "name": "company",
              "value": "={{ $json.Company }}"
            },
            {
              "name": "details",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "error-handling",
      "name": "Error Handling",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Check Company Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Company Name": {
      "main": [
        [
          {
            "node": "Company Research API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Research API": {
      "main": [
        [
          {
            "node": "Check API Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Success": {
      "main": [
        [
          {
            "node": "Format Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Results": {
      "main": [
        [
          {
            "node": "Update Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-01-15T10:00:00.000Z",
  "versionId": "1"
}
